body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.burger-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-bun-wrapper {
    width: 50px;
    height: 25px;
    overflow: hidden;
}

.top-bun {
    height: 50px;
    width: 50px;
    background-color: #ffb703;
    border-radius: 50%;
}

.lettuce-wrapper {
    position: relative;
    overflow: hidden;
    height: 13px;
    width: 53px;
    margin-top: -11px;
}

.lettuce {
    position: absolute;
    width: 55px;
    height: 10px;
    background: radial-gradient(1px, transparent, transparent 1px, green 1px, green 3px, transparent 3px);
    background-size: 8px 18px;
}

.lettuce2 {
    top: 10px;
    left: 4px;
    background-position: 0px -27px;
}

.tomato {
    height: 3px;
    width: 45px;
    background-color: red;
    margin-top: -3px;
}

.pickle {
    height: 2px;
    width: 35px;
    background-color: green;
}

.cheese-wrapper {
    position: relative;
}

.cheese {
    height: 3px;
    width: 50px;
    background-color: #fb8500;
}

.cheese-drip {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fb8500;
    position: absolute;
    left: 10px;

}

.patty {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background-color: brown;
}

.lower-bun {
    height: 7px;
    width: 50px;
    background-color: #ffb703;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}